.App{
    margin: 0 auto ;
    max-width: 1284px;
    font-size: 18px;
    color: #A2997F;
}
@media (max-width: 640px) {
    .pc{
        display:none;
    }
}
@media (min-width: 641px) {
    .mobile{
        display:none;
    }
}

/* header */
header{
    position: sticky;
    background-color: #CFDEDF;
    z-index: 2;
    top: 0;
    height: 60px;
}
nav{
    width: 640px;
    margin: auto;
}
@media (max-width: 640px) {
    nav{
      width: 100%;
    }
} 
nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 5px;
}
@media (max-width: 640px) {
    nav ul li{
        display: flex;
    }
}
nav ul li a {
    text-decoration: none;
    color: #A2997F;
    transition: all 0.2s;
    font-size: 28px;
    margin-left: 20px;
}
nav ul li a:hover{
    color: white;
}
.topButton{
    color: #A2997F !important;
    margin-top: 5px;
    margin-left: 10px;
}
.navbar-collapse{
    background-color: #CFDEDF;
}

/* text */
.first{
    margin-top: -100px;
    height: 800px;
    background-color: #CFDEDF;
}
.fs-1{
    font-size: 120px;
    font-weight: bold;
}
@media (max-width: 1024px) {
    .fs-1{
        font-size: 100px;
    }
} 
@media (max-width: 768px) {
    .fs-1{
        font-size: 80px;
    }
}
@media (max-width: 640px) {
    .fs-1{
        font-size: 50px;
    }
} 
.fs-2{
    font-size: 50px;
    font-weight: bold;
}
.fs-3{
    font-size: 32px;
    font-weight: bold;
}
.fs-4{
    font-size: 24px;
    font-weight: bold;
}
.fs-5{
    font-size: 18px;
    font-weight: bold;
}
.tx-p{
    text-align: center;
    padding-top: 250px; 
}
.tx-p2{
    text-align: center;
}
.tx-p3{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 10px; 
}
.tx-color{
    color: white;
}
.tx-color:hover{
    color: white;
}

@media (min-width: 640px) {
    .left{
        float: left;
    }
    .wrap{
        display:flex;
    }
} 
.mt-3{
    margin-top: 30px;
}
.mt-5{
    margin-top: 50px;
}
.mb-5{
    margin-bottom: 50px;
}
/* about */
.imgage-girl{
    margin-top: -50px;
    margin-left: 50px;
}
.about{
    width: 600px;
}
@media (max-width: 1024px) {
    .imgage-girl{
        width: 350px;
    }
    .about{
        width: 450px;
    }
} 
@media (max-width: 768px) {
    .imgage-girl{
        width: 300px;
    }
    .about{
        width: 450px;
    }
}
@media (max-width: 640px) {
    .imageWrap{
        text-align: center;
    }
    .imgageGirl{
        width: 200px;
        margin-left: 0px;
    }
    .about{
        width: 80%;
        margin-left: 20px;
    }
} 
/*card*/
.card{
    background-color: #A2997F !important;
    color: white !important;
    width:80%;
    margin: 0 auto 100px auto;   
}
.icon{
    margin-bottom: 5px;
    margin-right: 1px;
}

.card-row-l{
    height: 800px;
}
.mySwiper{
    width: 80%;
    height: 70%;
}
.image_h{
    margin: auto;
    display: block;
    width: 60%;
    margin-top: 30px;
}
.image_w{
    margin: auto;
    display: block;
    width: 75%;
    margin-top: 30px;
}
.cardWrap{
    display: flex;
}